/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  padding: 10px;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.col-1 {
  width: 6.25%;
}

.col-2 {
  width: 12.5%;
}

.col-3 {
  width: 18.75%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 31.25%;
}

.col-6 {
  width: 37.5%;
}

.col-7 {
  width: 43.75%;
}

.col-8 {
  width: 50%;
}

.col-9 {
  width: 56.25%;
}

.col-10 {
  width: 62.50%;
}

.col-11 {
  width: 68.75%;
}

.col-12 {
  width: 75%;
}

.col-13 {
  width: 81.25%;
}

.col-14 {
  width: 87.5%;
}

.col-15 {
  width: 93.75%;
}

.col-16 {
  width: 100%;
}

* {
  border: 1px solid #ff0000;
}

.grid-container {
  width: 100%;
  height: auto;
  max-width: 1180px;
  margin: 0 auto;
}

/* HEADER */
.main-header {
  background-image: url("../images/header-background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
}

.main-header #logo {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

.main-header .navigation ul {
  text-align: center;
}

.main-header .navigation ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Kurale", serif;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 2px 0 2px #000000;
}

.main-header .navigation ul li:first-child {
  color: #6699ff;
}

.main-header .header-article {
  margin-top: 200px;
  color: #ffffff;
  font-family: "Myriad Pro", sans-serif;
}

.main-header .header-article h2 {
  font-size: 48px;
  font-weight: normal;
  line-height: 1.25;
}

.main-header .header-article p {
  font-size: 18px;
  line-height: 1.333;
}

/* FIRST SECTION */
#first-section {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  height: auto;
}

#first-section h2 {
  margin: 0 auto;
  margin-top: 70px;
  font-size: 48px;
  color: #003399;
  line-height: 1.25;
}

#first-section p {
  margin: 0 auto;
  font-family: "Myriad Pro", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.5;
}

#first-section .box-container {
  margin: 0 auto;
  text-align: center;
}

#first-section .box-container .additional-box {
  z-index: 99;
  position: relative;
  width: 335px;
  margin-top: 50px;
  padding: 35px 10px 10px 10px;
  float: left;
  background-color: #2052b5;
}

#first-section .box-container .additional-box:first-child {
  border-right: 3px solid #6699ff;
}

#first-section .box-container .additional-box:nth-child(2) {
  border-right: 1px solid #6699ff;
}

#first-section .box-container .additional-box:after {
  position: absolute;
  content: "";
  border-left: 167px solid transparent;
  border-right: 167px solid transparent;
  border-top: 130px solid #2052b5;
  left: 0px;
  bottom: -130px;
}

#first-section .box-container .additional-box h3, #first-section .box-container .additional-box p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#first-section .box-container .additional-box h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}

#first-section .box-container .additional-box p {
  font-size: 18px;
  line-height: 1.333;
}

/* SECOND SECTION */
#second-section {
  position: relative;
  padding-top: 200px;
  background-image: url("../images/second-section-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  top: -50px;
}

#second-section h2 {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  padding: 10px;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.col-1 {
  width: 6.25%;
}

.col-2 {
  width: 12.5%;
}

.col-3 {
  width: 18.75%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 31.25%;
}

.col-6 {
  width: 37.5%;
}

.col-7 {
  width: 43.75%;
}

.col-8 {
  width: 50%;
}

.col-9 {
  width: 56.25%;
}

.col-10 {
  width: 62.50%;
}

.col-11 {
  width: 68.75%;
}

.col-12 {
  width: 75%;
}

.col-13 {
  width: 81.25%;
}

.col-14 {
  width: 87.5%;
}

.col-15 {
  width: 93.75%;
}

.col-16 {
  width: 100%;
}
