/************* VARIABLES *************/

/**** Colors ****/
$test-border: 1px solid #ff0000;
$white: #ffffff;
$black: #000000;

$subtle: #6699ff;
$section-header: #003399;
$section-box: #2052b5;
$section-main-font: #333333;
$header-background-color: #312f30;

/**** Fonts ****/
$myriadPro: "Myriad Pro", sans-serif;
$openSans: "Open Sans", sans-serif;
$kurale: "Kurale", serif;

$h2-font-L: 48px;
$h2-font-M: 32px;
$h2-font-S: 16px;

$h3-font-L: 24px;
$h3-font-M: 18px;
$h3-font-S: 14px;

$p-font-L: 18px;
$p-font-M: 16px;
$p-font-S: 10px;
