@import "reset";
@import "grid";

// VARIABLES
// Colors
$test-border: 1px solid #ff0000;
$white: #ffffff;
$black: #000000;

$subtle: #6699ff;
$section-header: #003399;
$section-box: #2052b5;
$section-main-font: #333333;

// Fonts
$myriadPro: "Myriad Pro", sans-serif;
$openSans: "Open Sans", sans-serif;
$kurale: "Kurale", serif;
