@import "base";

/**********************************************
MEDIA QUERY FOR MOBILES
***********************************************/
@media screen and (min-width: 320px) and (max-width: 779px) {
  h2 {
    font-size: $h2-font-S !important;
  }
  h3 {
    font-size: $h3-font-S !important;
  }
  p {
    font-size: $p-font-S !important;
  }

/* HEADER */
  #main-header {
    background-image: url("../images/header-background-mobile.jpg");
    height: 180px;
    #logo {
      border-bottom: none;
      img{
        width: 263px;
        height: 24px;
      }
    }
    .navigation {
      width: 110%;
      #hamburger-menu {
        display: block;
      }
      ul {
        position: absolute;
        top: 10px;
        left: -40px;
        display: none;
        li {
          padding: 10px;
          font-size: $h2-font-S;
          background-color: $white;
          border-bottom: 1px solid $subtle;
          width: 110%;
          margin: 0;
        }
      }
    }
    .header-article {
      h2, p {
        margin: 0 auto;
        width: 200%;
      }
      h2 {
        margin-bottom: 5px;
        line-height: 1;
      }
    }
  }
  /* FIRST SECTION */
  #first-section {
    h2 {
      margin-top: 20px;
    }
    .box-container {
      .additional-box {
        margin: 0 auto;
        float: none;
        width: 100%;
        padding: 10px;
        border-right: none !important;
        border-bottom: 3px solid $subtle;
        &:after {
          display: none;
        }
      }
    }
  }

  /* SECOND SECTION */
  #second-section {
    top: 10px;
    padding-top: 0px;
    height: auto;
    .box-container {
      .additional-info {
        width: 33.333%;
        p, ul {
          height: 160px;
          overflow: auto;
        }
        h3 {
          text-align: center;
          margin-top: 0;
        }
        ul {
          padding: 0 10px 0 20px;
          li {
            font-size: 10px;
            span {
              font-size: $p-font-S;
            }
          }
        }
        &:first-child {
          p {
            padding-top: 20px !important;
          }
        }
      }
    }
  }

  /* THIRD SECTION */
  #third-section {
    margin-top: 30px;
    .box-container {
      .testimonial {
        width: 50%;
        .quotation-mark {
          width: 40px;
          height: 28px;
        }
        .author-container {
          margin-top: 17px;
          img {
            width: 70px;
            height: 70px;
          }
        }
        .odd {
          margin-top: 30px;
        }
      }
    }
    .see-more {
      width: 160px;
      height: 45px;
      font-size: $h3-font-S;
    }
  }
}

/**********************************************
MEDIA QUERY FOR TABLETS
***********************************************/
@media screen and (min-width: 780px) and (max-width: 1069px) {
  h2 {
    font-size: $h2-font-M !important;
  }
  h3 {
    font-size: $h3-font-M !important;
  }
  p {
    font-size: $p-font-M !important;
  }

/* HEADER */
#main-header {
  height: 500px;
  .navigation {
    ul {
      li {
        font-size: $p-font-L;
      }
    }
  }
  .header-article {
    h2, p {
      width: 150%;
    }
  }
}

/* FIRST SECTION */
#first-section {
	.box-container {
		.additional-box {
// triangle down
			&:after {
        display: none;
			}
    }
  }
}

/* SECOND SECTION */
#second-section {
  .box-container {
    .additional-info {
      ul {
        li {
          span {
            font-size: $p-font-L;
          }
        }
      }
    }
  }
}

/* THIRD SECTION */
#third-section {
  .see-more {
    width: 240px;
    height: 67px;
    font-size: 20px;
  }
}
}
