@import "../partials/base";

* {
	// border: $test-border;
}

.grid-container {
	width: 100%;
	height: auto;
	max-width: 1180px;
	margin: 0 auto;
}

/* HEADER */
#main-header {
	position: relative;
	background-image: url("../images/header-background-desktop.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	#logo {
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
		border-bottom: 1px solid $white;
	}
	.navigation {
		#hamburger-menu {
		  display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 25px;
			background-image: url("../images/hamburger.png");
			background-repeat: no-repeat;
			background-size: contain;
		  cursor: pointer;
		}
		ul {
			text-align: center;
			li {
				display: inline-block;
				list-style-type: none;
				margin-left: 10px;
				margin-right: 10px;
				font-family: $kurale;
				font-size: 24px;
				color: $white;
				text-shadow: 2px 0 2px $black;
				&:first-child {
					color: $subtle !important;
					a {
						&:visited {
							color: $subtle !important;
						}
						&:hover {
							color: $section-box !important;
						}
					}
				}
				a {
					text-decoration: none;
					&:visited {
						color: $white;
					}
					&:hover {
						color: $section-box;
					}
				}
			}
		}
		}
		.header-article {
			position: absolute;
			bottom: 0;
			font-family: $myriadPro;
			color: $white;
			float: left;
			h2 {
				font-size: $h2-font-L;
				font-weight: normal;
				line-height: 1.25;
			}
			p {
				font-size: $p-font-L;
				line-height: 1.333;
			}
		}
}

/* FIRST SECTION */
#first-section {
	font-family: $openSans;
	text-align: center;
	height: auto;
	h2, p {
		padding: 5px;
	}
	h2 {
		margin-top: 70px;
		font-size: $h2-font-L;
		color: $section-header;;
		line-height: 1.25;
	}
	p {
		font-family: $myriadPro;
		font-size: $p-font-L;
		color: $section-main-font;
		line-height: 1.5;
	}
	.box-container {
		text-align: center;
		.additional-box {
			position: relative;
			float: left;
			width: 33.333%;
			margin-top: 50px;
			padding: 35px 10px 10px 10px;
			background-color: $section-box;
			z-index: 99;
			&:first-child {
				border-right: 3px solid $subtle;
			}
			&:nth-child(2) {
				border-right: 1px solid $subtle;
			}
// triangle down
			&:after {
				position: absolute;
				content: "";
				border-left: 169px solid transparent;
				border-right: 169px solid transparent;
				border-top: 130px solid #2052b5;
				left: 0px;
				bottom: -130px;
			}
			h3, p {
				color: $white;
				font-family: $openSans;
				text-align: center;
			}
			h3 {
				font-size: $h3-font-L;
				font-weight: bold;
				line-height: 1.25;
			}
			p {
				font-size: $p-font-L;
				line-height: 1.333;
			}
		}
	}
}

/* SECOND SECTION */
#second-section {
	position: relative;
	padding-top: 200px;
	background-image: url("../images/second-section-background.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	top: -50px;
	height: 790px;
	h2 {
		font-family: $openSans;
		font-size: $h2-font-L;
		line-height: 1.25;
		text-align: center;
	}
	.box-container{
		.additional-info {
			float: left;
			width: 33.333%;
			h3, p, li {
				font-family: $openSans;
			}
			h3 {
				font-size: $h3-font-L;
				line-height: 1.333;
				color: $section-header;
			}
			p {
				// padding: 5px;
				font-size: $p-font-L;
				line-height: 1.25;
				color: $section-main-font;
			}
			ul {
				li {
					margin-bottom: 10px;
					font-size: 24px;
					color: $section-header;
					span {
						font-size: 18px;
						color: $section-main-font;
					}
				}
			}
		}
	}
}

/* THIRD SECTION */
#third-section {
	position: relative;
	display: block;
	h2 {
		margin-top: -20px;
		margin-bottom: 20px;
		font-family: $openSans;
		font-size: $h2-font-L;
		line-height: 1.25;
		text-align: center;
	}
	.testimonial {
		float: left;
		img {
			width: 80px;
			height: 55px;
			margin: 0 auto;
			display: block;
		}
		p {
			padding: 5px;
			font-family: $openSans;
			font-size: $p-font-L;
			line-height: 1.333;
			text-align: center;
			font-style: italic;
			color: $section-main-font;
			span {
				font-style: normal;
				font-weight: bold;
			}
		}
		.author-container {
				margin-top: 50px;
			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
		}
		.odd {
			margin-top: 73px;
		}
	}
	.see-more {
		width: 320px;
		height: 89px;
		margin-top: 20px;
		margin-bottom: 50px;
		font-family: $openSans;
		font-size: 30px;
		line-height: 2;
		text-align: center;
		text-transform: uppercase;
		color: $white;
		background-color: $section-box;
		a {
			text-decoration: none;
			display: block;
			&:visited {
				color: $white;
			}
		}
		&:hover {
			background-color: $section-header;
		}
	}
}
